* {
    font-family: sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}

#container {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15), 0 12px 40px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    width: 650px;
    height: 300px;
    border-radius: 20px
}

#atmcolor {
    width: 650px;
    height: 100px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 61, 255, 1) 0%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#atmtext {
    display: inline-block;
    position: relative;
    bottom: 115px;
    left: 220px;
    color: #fff;
    font-size: 3em;

}

p {
    display: inline;
    position: relative;
    color: black;
    font-size: bold;
    bottom: 100px;
    left: 230px;
}

#forbutton {

    padding: 10px;
    position: relative;
    display: flex;
    width: 600px;
    left: 25px;
    justify-content: space-evenly;
    bottom: 50px;
}

button {
    color: #fff;
    font-weight: 700;
    padding: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 61, 255, 1) 0%);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}